@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:wght@300&display=swap");

$BackgroundColor: #153144;
$TextColor: #fff;

$Characters: 23;
$TypeSpeed: 4s;
$CursorSpeed: 1.5s;

html,
body {
    height: 100%;
    margin: 0;
}
body {
    background: $BackgroundColor;
    color: $TextColor;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: calc(1.5em + 2.6vw);
    font-weight: 400;
    width: max-content;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &::before {
        background-color: $BackgroundColor;

        animation: typewriter $TypeSpeed steps($Characters) #{$CursorSpeed} forwards;
    }
    &::after {
        background-color: $TextColor;
        width: 0.0675em;

        animation: typewriter $TypeSpeed steps($Characters) #{$CursorSpeed} forwards,
            blink $CursorSpeed linear forwards, blink $CursorSpeed linear #{$CursorSpeed + $TypeSpeed} infinite;
    }
}

p{
    font-size: calc(1.25em + .75vw );
    opacity: 0;
    transform: translateY(5em);

    animation: fadeIn .5s ease #{$CursorSpeed + $TypeSpeed + .5s} forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
